body {
	background: #111;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin: 0;
	overflow: hidden;
}
.header {
	height: 60px;
	background: #000;
	color: #fff;
    box-shadow: 0px 4px 20px #000;
    z-index: 100;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header img {
	width: 60px;
	height: 60px;
}
.header h1, .header h5 {
	margin: 0;
}
.header div {
	display: inline-block;
	transform: translateY(-5px);
}
.subheader {
	height: 30px;
	background: #0a0a0a;
	color: #fff;
    box-shadow: inset 0px 4px 20px #000;
    z-index: 50;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}
.subheader a {
	font-size: 20px;
	line-height: 28px;
	cursor: pointer;
    user-select: none;
}
.subheader a+a {
	margin-left: 10px;
}
a.dir {
	color: #5555ff;
	font-weight: bold;
}
a.tar {
	color: #ff5549;
}
a.link {
	color: #3cffdb;
	text-decoration: none;
}
.body {
    box-shadow: inset 0px 4px 20px #0a0a0a;
    z-index: 20;
	height: calc(100% - 90px);
}
.scroller {
	width: calc(calc(100% / 3) - 7px);
	border-right: 1px solid #ddd;
	overflow: auto;
	height: 100%;
	display: inline-block;
}
.scroller::-webkit-scrollbar {
    width: 0px;
}
.scroller+.scroller {
	transform: translateX(-9px);
}
.scroller+.scroller+.scroller {
	position: absolute;
	left: calc(calc(100% / 3) *2);
	width: calc(calc(100% / 3) + 20px);
	transform: translateX(-20px);
	border: none;
	height: calc(100% - 90px);
	overflow-x: hidden;
	overflow-y: auto;
}
.entry {
    vertical-align: middle;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: #222;
    text-align: left;
    height: 60px;
    color: #fff;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	border-bottom: 1px solid #555;
}
.entry.selected {
    background-color: #444;
}
.entry span {
	margin: 0;
	display: block;
    line-height: 17px;
}

.entry img+div {
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle
}

.entry:hover {
    background-color: #333;
    transition: all 0.2s ease;
}

.entry img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
}

.entry span {
    font-size: 20px;
}

.entry .small {
    opacity: 0.5;
    font-size: 16px;
    line-height: 13px;
}
.entry.selected {
    background-color: #444;
}
.entry:after {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    z-index: 5;
    position: relative;
    top: 7px;
    right: 125px;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_arrow_right_white_24px.svg);
    background-size: cover;
    transform: scaleY(5) scaleX(2.5);
    transition: all .2s ease;
    opacity: 0;
}
.entry.selected:after {
    right: 25px;
    opacity: 1;
}
.loading-text {
    margin: 10px;
    font-size: 30px;
    color: #ddd;
}
.loading-text:before {
    content: 'Loading';
}
.loading-text:after {
    content: '';
    -webkit-animation: loading-text 1s ease-out infinite;
    animation: loading-text 1s ease-out infinite;
    -moz-animation: loading-text 1s ease-out infinite;
    -o-animation: loading-text 1s ease-out infinite;
}

@-moz-keyframes loading-text {
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
}
@-o-keyframes loading-text {
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
}
@-webkit-keyframes loading-text {
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
}
@keyframes loading-text {
    25% {content: '.';}
    50% {content: '..';}
    75% {content: '...';}
}
.header h1:after {
    content: '';
    -webkit-animation: header-text 1s ease-out infinite;
    animation: header-text 1s ease-out infinite;
    -moz-animation: header-text 1s ease-out infinite;
    -o-animation: header-text 1s ease-out infinite;
}

@-moz-keyframes header-text {
    50% {content: '_';}
}
@-o-keyframes header-text {
    50% {content: '_';}
}
@-webkit-keyframes header-text {
    50% {content: '_';}
}
@keyframes header-text {
    50% {content: '_';}
}

.deftable {
    left: 10px;
}
.deftable.hidden {
    left: -1000px;
    transition: all .2s ease;
    opacity: 0;
}

.entrytable {
    left: 219px;
    max-width: 500px;
}
.entrytable.hidden {
    left: 2000px;
    transition: all .2s ease;
    opacity: 0;
}

table {
    position: absolute;
    border: 1px solid #dfe2e5;
    border-spacing: 0;
    transition: all .2s ease;
    opacity: 1;
    z-index: 1000;
}

table th, table td {
    color: #fff;
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    background-color: #090909;
}

table th {
    background-color: #191919;
}

table tr:nth-child(2n) td {
    background-color: #121212;
}

table.tasteless {
    border: 1px solid transparent;
    border-spacing: 0;
    transition: all .2s ease;
    opacity: 1;
    z-index: 1000;
}

table.tasteless th, table.tasteless td {
    color: #fff;
    padding: 6px 13px;
    border: 1px solid transparent;
    background-color: transparent;
}

table.tasteless th, table.tasteless tr:nth-child(2n) td {
    background-color: transparent;
}

.scroller table, .scroller tr {
	position: initial;
	display: block;
}

.scroller td {
	position: initial;
	width: 100%;
	display: block;
}
